.header-navigation {
    width: 1600px;
    height: 80px;
    display: inline-block;
}
.active-button {
    color: white;
    font-size: 16px;
    line-height: 1.88;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    width: 200px;
    height: 50px;
    background-color: #2196f3;
    border: none;
}
.active-button:active {
    color: magenta;
}
.header-studio {
    color: black;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.19;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}
.header-web {
    color: #2196f3;
    line-height: 1.19;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.19;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}
body {
    font-family: 'Roboto', 'Raleway', sans-serif;
}
.agency {
    font-size: 14px;
    color: #111;
    line-height: 1.14;
    font-weight: 500;
    text-decoration: none;
}
.agency:hover {
    color: #2196f3;
}
.portfolio {
    font-size: 14px;
    color: #111;
    line-height: 1.14;
    font-weight: 500;
    text-decoration: none;
}
.portfolio:hover {
    color: #2196f3;
}
.contact {
    font-size: 14px;
    color: #111;
    line-height: 1.14;
    font-weight: 500;
    text-decoration: none;
}
.contact:hover {
    color: #2196f3;
}
.nav-mail {
    font-size: 14px;
    color: #757575;
    line-height: 1.14;
    font-weight: 500;
    text-decoration: none;
}
.nav-mail:hover {
    color: #2196f3;
}
.nav-tel {
    font-size: 14px;
    color: #757575;
    line-height: 1.14;
    font-weight: 500;
    text-decoration: none;
}
.nav-tel:hover {
    color: #2196f3;
}

.button-title {
    color: white;
    font-size: 44px;
    line-height: 1.36;
    font-weight: 900;
    width: 696px;
    height: 120px;
}
.service {
    height: 600px;
    width: 1600px;
    background-color: #2f303a;
}
.paragraph {
    font-size: 14px;
    font-weight: 400;
    color: #757575;
    line-height: 1.71;
}
.paragraph-title {
    color: #212121;
    text-transform: uppercase;
}
.what-we-do {
    line-height: 1.17;
}
.team-section {
    background-color: #f5f4fa;
}
.team-title {
    line-height: 1.17;
}
.footer-section {
    background-color: #2f303a;
}
.footer-localization {
    text-decoration: none;
    color: white;
    line-height: 1.19;
}
.footer-mail {
    text-decoration: none;
    color: rgb(255, 255, 255, 0.6);
    line-height: 1.19;
}
.footer-mail:hover {
    color: #2196f3;
}
.footer-tel {
    text-decoration: none;
    color: rgb(255, 255, 255, 0.6);
    line-height: 1.19;
}
.footer-tel:hover {
    color: #2196f3;
}
.footer-web {
    color: #2196f3;
    line-height: 1.17;
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}
.footer-studio {
    color: white;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.17;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}
.image-background {
    background-color: white;
    width: 270px;
    height: 368px;
    border-radius: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.team-names {
    font-size: 16px;
    line-height: 1.19;
    color: #212121;
    font-weight: 500;
}
.team-position {
    color: #757575;
    line-height: 1.19;
}
.secondary-list {
    list-style-type: none;
    display: inline-block;
}
.primary-list {
    list-style-type: none;
    display: inline-block;
}

.project-names {
    color: #212121;
    font-size: 18px;
    line-height: 2;
    font-weight: 700;
}
.project-type {
    color: #757575;
    font-size: 16px;
    line-height: 1.88;
    font-weight: 400;
}
.buttons-portfolio {
    color: #212121;
    font-size: 16px;
    line-height: 1.63;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}
.buttons-portfolio:hover {
    background-color: #2196f3;
    color: white;
}
